In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = True, header = None,)

In [4]:
data.head()

         0_1         2
0 1950-01-01 -0.060310
1 1950-02-01  0.626810
2 1950-03-01 -0.008128
3 1950-04-01  0.555100
4 1950-05-01  0.071577

In [5]:
data.columns = ['month', 'value']
data.index = data.month
data = data.drop('month', 1)

In [7]:
data.head()

               value
month
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008128
1950-04-01  0.555100
1950-05-01  0.071577

In [8]:
data['1950':'1952'] #What do you notice about the range of dates?

               value
month
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008128
1950-04-01  0.555100
1950-05-01  0.071577
1950-06-01  0.538570
1950-07-01 -0.802480
1950-08-01 -0.851010
1950-09-01  0.357970
1950-10-01 -0.378900
1950-11-01 -0.515110
1950-12-01 -1.928100
1951-01-01 -0.084969
1951-02-01 -0.399930
1951-03-01 -1.934100
1951-04-01 -0.776480
1951-05-01 -0.862780
1951-06-01 -0.917860
1951-07-01  0.090023
1951-08-01 -0.377410
1951-09-01 -0.817780
1951-10-01 -0.212910
1951-11-01 -0.068519
1951-12-01  1.987200
1952-01-01  0.368250
1952-02-01 -1.747200
1952-03-01 -1.859500
1952-04-01  0.538520
1952-05-01 -0.773510
1952-06-01 -0.440930
1952-07-01  0.383080
1952-08-01 -0.030367
1952-09-01 -0.383450
1952-10-01 -0.437170
1952-11-01 -1.890900
1952-12-01 -1.826700

In [10]:
# What is the empirical range of dates?
print max(data.index)
print min(data.index)

2017-09-01 00:00:00
1950-01-01 00:00:00

In [11]:
# How to visualize?
data

               value
month
1950-01-01 -0.060310
1950-02-01  0.626810
1950-03-01 -0.008128
1950-04-01  0.555100
1950-05-01  0.071577
1950-06-01  0.538570
1950-07-01 -0.802480
1950-08-01 -0.851010
1950-09-01  0.357970
1950-10-01 -0.378900
1950-11-01 -0.515110
1950-12-01 -1.928100
1951-01-01 -0.084969
1951-02-01 -0.399930
1951-03-01 -1.934100
1951-04-01 -0.776480
1951-05-01 -0.862780
1951-06-01 -0.917860
1951-07-01  0.090023
1951-08-01 -0.377410
1951-09-01 -0.817780
1951-10-01 -0.212910
1951-11-01 -0.068519
1951-12-01  1.987200
1952-01-01  0.368250
1952-02-01 -1.747200
1952-03-01 -1.859500
1952-04-01  0.538520
1952-05-01 -0.773510
1952-06-01 -0.440930
...              ...
2015-04-01  1.215700
2015-05-01  0.762760
2015-06-01  0.427040
2015-07-01 -1.107900
2015-08-01 -0.689020
2015-09-01 -0.164510
2015-10-01 -0.250060
2015-11-01  1.945000
2015-12-01  1.444100
2016-01-01 -1.448700
2016-02-01 -0.023521
2016-03-01  0.280240
2016-04-01 -1.051100
2016-05-01 -0.035739
2016-06-01  0.312880
2016-07-01  0.084758
2016-08-01  0.472380
2016-09-01  0.780970
2016-10-01 -1.917300
2016-11-01 -0.610910
2016-12-01  1.786400
2017-01-01  0.941970
2017-02-01  0.339860
2017-03-01  1.365400
2017-04-01 -0.088658
2017-05-01 -0.730140
2017-06-01  0.401660
2017-07-01  0.634230
2017-08-01  0.150040
2017-09-01 -0.492450

[813 rows x 1 columns]

In [12]:
# What kind of index do we have?
type(data.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [13]:
data['1951-11-11':'1951-11-12']

Empty DataFrame
Columns: [value]
Index: []

In [14]:
# What if we want a period index?
data_pd = data.to_period()

In [15]:
data_pd['1951-11-11':'1951-11-12']

            value
month
1951-11 -0.068519

In [16]:
data_pd['1951-11-11':'1952-01-12']

            value
month
1951-11 -0.068519
1951-12  1.987200
1952-01  0.368250

In [17]:
# Which is more appropriate for this data?
#the later is more appropriate because the original data seems to be a monthly average data due to no actual date recorded.

In [18]:
# How do various data loads perform?
import timeit

print("infer_datetime_format = True, no date parser")
%timeit pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = True, header = None,)

print("infer_datetime_format = False, no date parser")
%timeit pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = False, header = None,)

print("infer_datetime_format = True, date parser provided")
dateparse = lambda x, y: pd.datetime.strptime('%s-%s'%(x,y), '%Y-%m')
%timeit pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = True, date_parser = dateparse,  header = None,)

print("infer_datetime_format = False, date parser provided")
dateparse = lambda x, y: pd.datetime.strptime('%s-%s'%(x,y), '%Y-%m')
%timeit pd.read_fwf("http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii", parse_dates = [[0, 1]], infer_datetime_format = False, date_parser = dateparse,  header = None,)

infer_datetime_format = True, no date parser
1 loop, best of 3: 222 ms per loop
infer_datetime_format = False, no date parser
1 loop, best of 3: 214 ms per loop
infer_datetime_format = True, date parser provided
1 loop, best of 3: 259 ms per loop
infer_datetime_format = False, date parser provided
1 loop, best of 3: 273 ms per loop

In [19]:
# What if you already have the data frame and want to parse columns?
df = pd.DataFrame({'year': [2015, 2016],'month': [2, 3],'day': [4, 5],'hour': [2, 3]})
df

   day  hour  month  year
0    4     2      2  2015
1    5     3      3  2016

In [20]:
pd.to_datetime(df)

0   2015-02-04 02:00:00
1   2016-03-05 03:00:00
dtype: datetime64[ns]

In [21]:
pd.to_datetime(df[['year', 'month', 'day']])

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [22]:
# Does it work with other column names?

In [23]:
# Go get your own time series data, load it in, and see what you can see
# Hint: http://pandas.pydata.org/pandas-docs/stable/remote_data.html

In [24]:
# 1. plot 2. get range of dates 3. convert between time and period index

In [25]:
# Let's experiment with truncate convenience function
ts = pd.Series(range(10), index = pd.date_range('7/31/2015', freq = 'M', periods = 10))
ts.truncate(before='10/31/2015', after='12/31/2015')

2015-10-31    3
2015-11-30    4
2015-12-31    5
Freq: M, dtype: int64

In [31]:
# You can truncate in a way that breaks frequency
ts[[0, 2, 6]].index

DatetimeIndex(['2015-07-31', '2015-09-30', '2016-01-31'], dtype='datetime64[ns]', freq=None)

In [34]:
# It will save you when it can
ts.ix[0:10:2]

2015-07-31    0
2015-09-30    2
2015-11-30    4
2016-01-31    6
2016-03-31    8
Freq: 2M, dtype: int64