# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [61]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [62]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [63]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [64]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [65]:
document = ET.parse( './data/mondial_database.xml' )

In [79]:
for element in document.iterfind('infant_mortality'):
    print

In [99]:
children = document.getroot()
print dir(children)

['__class__', '__delattr__', '__delitem__', '__dict__', '__doc__', '__format__', '__getattribute__', '__getitem__', '__hash__', '__init__', '__len__', '__module__', '__new__', '__nonzero__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_children', 'append', 'attrib', 'clear', 'copy', 'extend', 'find', 'findall', 'findtext', 'get', 'getchildren', 'getiterator', 'insert', 'items', 'iter', 'iterfind', 'itertext', 'keys', 'makeelement', 'remove', 'set', 'tag', 'tail', 'text']

## Answer to Q1:

In [227]:
#create a dataframe consisting country and infant mortality rate
import pandas as pd

rate=[]
for element in children.iterfind('country'):
    country=element.find('name')
    infant_mort= element.find('infant_mortality')
    if infant_mort != None:
        rate.append([country.text,infant_mort.text])
    #print rate
    df = pd.DataFrame(rate, columns=(['country','rate']))

In [337]:
#the top 10 lowest infrant mortality rate countries
df.rate=pd.to_numeric(df.rate)
lowest_rate =df.sort_values(by='rate').head(10)
lowest_rate =lowest_rate.reset_index()
lowest_rate=lowest_rate.drop('index', axis=1)
lowest_rate

          country  rate
0          Monaco  1.81
1           Japan  2.13
2         Bermuda  2.48
3          Norway  2.48
4       Singapore  2.53
5          Sweden  2.60
6  Czech Republic  2.63
7       Hong Kong  2.73
8           Macao  3.13
9         Iceland  3.15

## Answer to Q2:

In [338]:
# create a dataframe for city and population
pop=[]
for country in document.iterfind( 'country' ):
    for c in country.iter('city'): #iter is the same as getiterator, give out same result
        city = c.find('name').text
        for p in c.iterfind('population'): 
            year = p.attrib['year'] 
            if p.attrib['year'] >= year: 
                population = int(p.text)
       
        pop.append([city, year,population])
    pop_df= pd.DataFrame(pop,columns=(['city','year','population']))
    pop_df.population=pd.to_numeric(pop_df['population'])

In [339]:
#the top 10 cities with largest population: 
largest_pop_city= pop_df.sort_values('population', ascending=False).head(10).reset_index()
largest_pop_city.drop('index', axis=1)

        city  year  population
0   Shanghai  2010    22315474
1   Istanbul  2012    13710512
2     Mumbai  2011    12442373
3     Moskva  2013    11979529
4    Beijing  2010    11716620
5  São Paulo  2010    11152344
6    Tianjin  2010    11090314
7  Guangzhou  2010    11071424
8      Delhi  2011    11034555
9   Shenzhen  2010    10358381