In [1]:
import pandas as pd
import numpy as np

In [103]:
frame1= pd.DataFrame({1: ["apple", "orange","mango","mango", "pineapple", "mango", "pineapple"], 2:["money", "coin", "bill", "coin","coin","cheque", "cheque"]}, index=range(7))

In [104]:
frame1.columns=["products", "method"]

In [105]:
frame1['price']=range(2,9,1)

In [106]:
frame1

    products  method  price
0      apple   money      2
1     orange    coin      3
2      mango    bill      4
3      mango    coin      5
4  pineapple    coin      6
5      mango  cheque      7
6  pineapple  cheque      8

In [112]:
frame2=frame1[(frame1.method=="coin") | (frame1.method=="cheque")] 
frame2=frame2.groupby(['price','method']).size()
frame2

price  method
3      coin      1
5      coin      1
6      coin      1
7      cheque    1
8      cheque    1
dtype: int64

In [113]:
frame2.unstack()

method  cheque  coin
price
3          NaN   1.0
5          NaN   1.0
6          NaN   1.0
7          1.0   NaN
8          1.0   NaN

In [114]:
frame1[frame1.method.str.contains("c")] #you can do with endswith

    products  method  price
1     orange    coin      3
3      mango    coin      5
4  pineapple    coin      6
5      mango  cheque      7
6  pineapple  cheque      8